/* GLOBAL SETTING & VARIABLES */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
    --main-purple: #635FC7;
    --main-purple-hover: #A8A4FF;
    --pure-black: #000112;
    --very-dark-grey: #20212C;
    --dark-grey: #2B2C37;
    --medium-grey: #3E3F4E;
    --medium-light-grey: #828FA3;
    --light-grey: #E4EBFA;
    --lighter-grey: #F4F7FD;
    --pure-white: #FFFFFF;
    --red: #EA5555;
    --red-hover: #FF9898;
}



.heading_xl{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 30px;
}

.heading_l{
    font-size: 1.12rem;
    font-weight: bold;
    line-height: 23px;
}

.heading_m{
    font-size: .93rem;
    font-weight: bold;
    line-height: 19px;
}

.heading_s{
    font-size: .75rem;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 2.4px;
}

.body_l{
    font-size: .81rem;
    font-weight: 500;
    line-height: 23px;
}

.body_m{
    font-size: .75rem;
    font-weight: bold;
    line-height: 15px;
}


body{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    background: var(--light-grey);
    height: 100svh;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
    
}

button{
    padding: 1em 4.06em;
    border-radius: 34px;
    border: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    /* text-align: center; */
}

.invisible{
    display: none;
}


/* HEADER COMPONENT */

header,
.inner_header_container,
.title_container{
    display: flex;
}

header{
    position: relative;
    background: var(--pure-white);
    width: 100%;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

.inner_header_container{
    gap: 16px;
    padding: 0 1em; 
    align-items: center;
}

.title_container{
    justify-content: space-between;
    align-items: center;
    gap: .6em;
}

.title_container > p:last-child{
    font-size: .7rem;
    font-weight: 900;
    color: var(--medium-light-grey);
    cursor: pointer;
}

.open_popUp{
    cursor: pointer;
}

.add_btn{
    width: 48px;
    height: 32px;
    padding: 0;
    font-size: 1.2rem;
    background: var(--main-purple);
    color: var(--pure-white);
}

.add_btn:hover{
    background-color: var(--main-purple-hover);
}

.boards_names_container,
.boards_names_container > div{
    display: flex;
    flex-direction: column;
}

.new_board_nav{
    color: var(--main-purple)
}

.board_name_container,
.toggle_container,
.hide_container{
    display: flex;
}

.boards_names_container{
    position: absolute;
    top: 64px;
    width: 100vw;
    height: calc(100svh - 64px);
    background: var(--pure-white);
    align-items: center;
    justify-content: space-between;
    padding: 2em 0;
    overflow-x: auto;
    /* white-space: nowrap; */
}

.boards_names_container > div{
    gap: 32px;
    width: 100%;

}

.boards_names_container > div:last-child{
    align-items: center;
}


.boards_names_container > div > p,
.board_name_container{
    color: var(--medium-light-grey);
}

.board_name_container{
    align-items:center;
    gap: .75em;
    cursor: pointer;
    padding: 1em 6em;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.selected_board{
    background: var(--main-purple);
    color: var(--pure-white);
    width: calc(100vw - 20px);
}

.selected_board > img{
    filter:brightness(0%) invert(1);
}


.toggle_container{
    width: 50vw;
    background-color: var(--lighter-grey);
    justify-content: center;
    padding: 1em 0;
    border-radius: 5px;
}

#ChangeTheme {
    width: 0;
    height: 0;
    opacity: 0;
  }

  label {
    display: block;
    height: 15px;
    width: 60px;
    position: relative;
  }

  span.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--main-purple);
    border-radius: 30px;
  }

  span.slide:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50%;
    top: -2px;
    left: 0px;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 7px 1px;
  }

  .slide_dark:before {
    transform: translatex(40px);
  }

  .toggle_img{
    margin: 0 1em;
  }

  .hide_container{
    cursor: pointer;
    gap: 1em;
    color: var(--medium-light-grey)
  }

  footer{
    position: absolute;
    display: flex;
    bottom: 4em;
    background-color: var(--main-purple);
    width: 56px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 19px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  footer > img{
    width: 16px;
  }

  /* BOARD COMPONENT */

  #board_container{
    display: flex;
    overflow-x:auto;
    overflow-y: auto;
    height: calc(100svh - 64px);
    padding: 0 1em;
    gap: 25px;
  }

  .task_column,
  .task{
      display: flex;
      flex-direction: column;
  }
  
  .task_column{
    gap: 20px;
    padding-top:1.5em;
  }

  .create_column{
    margin-top: 3.8em;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lighter-grey);
    color: var(--medium-light-grey);
    padding: 0 55px;
    border-radius: 15px;
    cursor: pointer;
  }


  .create_column:hover{
    color: var(--main-purple);
    font-weight: bolder;
  }


  .task{
        width: 280px ;
        background-color: var(--pure-white);
        padding: 1.5em 1em;
        border-radius:15px;
        box-shadow: -5px 10px 5px rgba(151, 151, 151, 0.1);
        cursor: pointer;
  }

  .task_column > p:first-child{
    text-transform: uppercase;
    color: var(--medium-light-grey);
  }

  .task_column > p:first-child > span{
    margin-left: 3px;
  }

  .completed_task{
    color:var(--medium-grey)
  }
  /* #board_container > p{
    text-align: center;
    color: var(--medium-light-grey);
  } */

  /* #board_container > button{
    width: 174px;
    font-size: .93rem;
    font-weight: bold;
    line-height: 19px;
    color: var(--pure-white);
    background: var(--main-purple);
    padding: 1em 0;
    cursor: pointer;
  }

  #board_container > button:hover{
    background: var(--main-purple-hover);
  } */


  /* TASKS COMPONENT */
  .tasks_cont,
  .tasks_inner_cont,
  .task_title_cont,
  .subtasks_cont,
  .task_cont,
  .status_cont{
    display: flex;
  }

  .tasks_cont{
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.41);
    width: 100svw;
    height: calc(100vh + 64px);
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    left: -0em;
    top: -64px;
  }

  .tasks_inner_cont{
    width: 80%;
    min-height: 70%;
    background: var(--pure-white);
    top: 5em;
    border-radius: 5px;
    flex-direction: column;
    padding: 1.5em 1em;
    gap: 1em;
    /* position: relative; */
  }

  .vertical_ellipsis{
    cursor: pointer;
  }

  .task_title_cont{
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    position: relative;
  }


  .subtasks_cont{
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
    /* border: 1px solid purple; */
  }

  .subtasks_cont > p {
    color: var(--medium-light-grey);
    font-size: .85rem;
    font-weight: bold;
  }

  .task_cont,
  .status_cont > label{
    font-size: .85rem;
    /* font-weight: bold; */
  }

  .task_cont{
    cursor: pointer;
    background: var(--lighter-grey);
    color: var(--medium-grey);
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding: 8px 1em;
  }

  .task_cont:hover{
    background: var(--main-purple-hover);
    color: var(--pure-black);
    font-weight: bolder;
  }

  .task_finished{
    text-decoration: line-through;
    color: #979797;
  }

  .task_cont > label{
    flex-grow: 1;
    height: fit-content;

  }

  .status_cont{
    flex-direction: column;
    gap: 1em;
  }

  .status_cont > label{
    width: auto;
    color: var(--medium-light-grey);
  }

  .status_cont > select{
    padding: 9px 1em;
    border-color: var(--light-grey);
  }

  /* ADD & EDIT TASK */
  .edit_form_cont{
    display: flex;
    flex-direction: column;
  }

  .edit_form_cont > label {
    color: var(--medium-light-grey);
    font-size: .85rem;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .edit_form_cont > input,
  .edit_form_cont > textarea{
    border: 1px solid var(--light-grey);
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 1em;
    margin-bottom: 24px;
  }

  #description{
    resize: none;
    overflow-y: auto;
    height: 112px;
  }


  .tasks_inner_cont > button{
    background-color: var(--main-purple);
    color: var(--pure-white);
    font-weight: bold;
  }

  .tasks_inner_cont > button:hover{
    background-color: var(--main-purple-hover);
  }

  .subtasks_cont_edit,
  .subtasks_cont_edit > div{
    display: flex;
    gap: .80em;
  }

  .subtasks_cont_edit{
    flex-direction: column;
    margin-bottom: 1.2em;
  }

  .subtasks_cont_edit > div{
    height: 40px;
    align-items: center;
    justify-content: space-between;
  }

  .subtasks_cont_edit > div > input{
    height: 100%;
    width: 85%;
    border: 1px solid var(--light-grey);
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 1em;
  }

  .subtasks_cont_edit > div > p{
    font-weight: bolder;
    font-size: larger;
    color: var(--medium-light-grey);
    margin-right: .4em;
  }

  .subtasks_cont_edit > button{
    background-color: var(--light-grey);
    color: var(--main-purple);
    font-weight: bold;
    
  }


  .subtasks_cont_edit > button:hover{
    background-color: var(--main-purple);
    color: var(--pure-white);
  }

  /* Edit Delete component */
  .delete_main{
    display: flex;
    flex-direction: column;
    gap: 1em;
    position:absolute;
    max-width:192px;
    padding: 1em;
    background-color: white;
    border-radius: 15px;
    z-index: 2;
    /* border: 1px solid brown; */
    
  }

  .delete_board{
    top: 64px;
    right: 0;
    text-align: right;
  }

  .delete_task{
    top: 60px;
    right: -35px;
    text-align: right;
  }

  .delete_main > p{
    cursor: pointer;
    text-transform: capitalize;
    width: 160px;
  }

  .delete_main > p:first-child {
    color:var(--medium-light-grey);
  }
  
  .delete_main > p:first-child:hover{
    color: var(--main-purple);
  }

  .delete{
    color:var(--red);
  }

  .delete:hover{
    color:var(--red-hover);
  }

  /* Delete components  */
  .delete_cont,
  .delete_inner_cont,
  .delete_inner_cont > div
  {
    display: flex;
  }

  .delete_cont{
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.41);
    width: 100svw;
    height: calc(100vh + 64px);
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    left: -0em;
    top: -64px;
  }

  .delete_inner_cont{
    width: 80%;
    /* min-height: 50%; */
    background: var(--pure-white);
    top: 5em;
    border-radius: 5px;
    flex-direction: column;
    padding: 1.5em 1em;
    gap: 1em;
  }

  .delete_inner_cont .heading_l{
    color: var(--red)
  }

  .delete_inner_cont .body_l{
    color:var(--medium-grey);
  }

  .delete_inner_cont > div{
    flex-direction: column;
    gap: 1em;
  }

  .delete_btn{
    color: var(--pure-white);
    background-color: var(--red);
  }

  .delete_btn:hover{
    background-color: var(--red-hover);
  }

  .cancel_btn{
    background-color: var(--light-grey);
    color:var(--main-purple);
    font-weight: bold;
  }

  .cancel_btn:hover{
    background-color: var(--main-purple);
    color: var(--pure-white);
  }

  /* DARK MODE FUNCTION */

  .dark_toggle_cont{
    background-color: var(--pure-black);
  }

  .dark_main_cont{
    background-color: var(--dark-grey);

  }

  .dark_title{
    color: var(--pure-white) !important;
  }

  .dark_board{
    background-color: var(--pure-black) !important;
  }

  .task_dark{
    background: var(--dark-grey);
  }

  .dark_subtitle{
    color: var(--medium-light-grey);
  }

  .new_column_dark{
    background: var(--dark-grey);
  }

  .select_dark{
    background: var(--dark-grey);
    color: var(--pure-white);
  }

  .task_inner_dark_selected{
    background: var(--dark-grey);
  }

  .task_inner_dark{
    background: var(--dark-grey);
  }

  .task_cont_dark,
  .task_cont_dark_completed{
    background: var(--very-dark-grey);
    color:var(--lighter-grey) ;
  }

  .task_cont_dark_completed{
    color: var(--medium-light-grey);
  }

  .dark_popup{
    background: var(--very-dark-grey);
  }

  .p_dark{
    color: var(--pure-white);
  }

  .p_delete_dark{
    color: var(--medium-light-grey) !important;
  }

  .input_dark{
    background: var(--dark-grey);
  }

  .btn2_dark:hover{
    background: var(--pure-white) !important;
    color: var(--main-purple) !important;
  }

/* media queries */
@media (min-width: 768px){
    header{
        height: 80px;
    }

    .tasks_cont,
    .delete_cont{
      top: -80px;
      height: calc(100vh + 80px);
    }

    .logo_splitter{
        height: 80px;
        width: 1px;
        margin-left: 164px;
        margin-right: 3em;
        border: solid var(--light-grey) 1px;
    }

    .add_btn{
        width: 164px;
        height: 49px;
        padding: .4em 1em;
        font-size: 1rem;
        background: var(--main-purple);
        color: var(--pure-white);
        text-align: center;
    }

    .add_btn > span{
        margin-left: 6px;
    }

    .boards_names_container{
        width: 350px;
        top: 80px;
        height: calc(100svh - 80px);
        border-right: 1px solid var(--lighter-grey);
    }

    .boards_names_container > div:last-child{
        width: 70%;
    }

    .board_name_container{
        padding: 1em 4em;

    }

    .selected_board{
        width: calc(350px - 20px);
    }

    .toggle_container{
        width: 100%;
    }

    .sidebar_active{
        margin-left: 350px;
    }

    .delete_board{
      top: 80px;
      right: 5px;
      text-align: left;
    }
  
    .delete_task{
      top: 40px;
      right: -60px;
      text-align: left;
    }

    .delete_inner_cont{
      width: 30%;
      min-height: 20%;
    }

    .delete_inner_cont > div{
      flex-direction: row;
      justify-content: center;
    }

    .delete_inner_cont > div > button{
      width: 50%;
    }
}

@media (min-width: 1024px){
    header{
        height: 90px;
    }

    .tasks_cont,
    .delete_cont{
      top: -90px;
      height: calc(100vh + 90px);
    }

    .logo_splitter{
        height: 90px;
    }

    .boards_names_container{
        top: 90px;
        height: calc(100svh - 90px);

    }

    .tasks_inner_cont{
      width: 50%;
    }

    .delete_board{
      top: 90px;
    }
}

/* BOARDS */

